@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1576158725799') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdown:before {
  content: "\e61a";
}

.icon-user:before {
  content: "\e60c";
}

.icon-menu:before {
  content: "\e600";
}

